.post-container {
  width: 700px;
  height: 290px;
  display: flex;
  justify-content: space-evenly;
}
img {
  height: 250px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
}
.pagination-container {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}
.page-btn {
  background-color: rgb(14, 10, 10);
  color: white;
  border-radius: 10px;
  padding: 1rem;

}
.active {
  color: black;
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.page-btn:hover {
  transform: scale(1.5);

}
